/build
*.iml
app/app.iml
/app/app.iml
.gradle
/local.properties
/.idea/caches/
.idea/caches/
/.idea/libraries
.idea/libraries
.idea/libraries/
/.idea/libraries/
.idea/libraries/*
/.idea/libraries/*
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.idea/*/
.idea/*
.idea/*.xml
.DS_Store
build
/captures
.externalNativeBuild
.idea
.gradle/*
/.gradle/*
app/build
app/build/*
/app/build
/app/build/*
/app/bazaar/release
/app/bazaar/release/*
/app/googlePlay/release
/app/googlePlay/release/*
gradle.xml
proguard-merge-config.txt
/.idea/libraries/
/.idea/
