/build
*.iml
app/app.iml
/app/app.iml
.gradle
/local.properties
/.idea/caches
.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.idea
.idea/workspace.xml
.gradle/*
/.gradle/*
app/build
app/build/*
/app/build
/app/build/*